planning_scene_monitor_options:
  name: "planning_scene_monitor"
  robot_description: "robot_description"
  joint_state_topic: "/joint_states"
  attached_collision_object_topic: "/attached_collision_object"
  publish_planning_scene_topic: "/planning_scene"
  monitored_planning_scene_topic: "/monitored_planning_scene"
  wait_for_initial_state_timeout: 10.0

planning_pipelines:
  pipeline_names: ["ompl", "chomp", "pilz_industrial_motion_planner"]
  # in Jazzy, you can leverage STOMP too: update the above line adding "stomp", then uncomment the STOMP-related definition in move.hpp in src/manymove/manymove_cpp_trees/include/manymove_cpp_trees/move.hpp
  # You also need the _planning.yaml in your moveit config, but for github.com/pastoriomarco/xarm_ros2 they are already there

plan_request_params:
  planning_attempts: 1
  planning_pipeline: ompl
  planner_id: RRTConnect
  max_velocity_scaling_factor: 1.0
  max_acceleration_scaling_factor: 1.0

